/* 
Author: Cristian Claudiu Butnaru
Description: This is basically a simple theme.
Author URI: https://claudiubu.github.io/CV/
Version: 1.0
 */

/* TAG SELECTORS */
body{
    background:repeating-linear-gradient(45deg,purple,lime);
}






/* CLASS SELECTORS*/







/* ID SELECTORS  */